<h3>
    World Series Chorões do Derank 2023
</h3>
<mat-tab-group>
    <mat-tab label="Rank & Teams">
        <section>
            <h4>
                Options
            </h4>
            <div class="options">
                <mat-form-field>
                    <mat-label>Your Name</mat-label>
                    <input [(ngModel)]="name" matInput placeHolder="90 dias pra pegar nível 4" type="text">
                </mat-form-field>
                <mat-slide-toggle aria-label="this" [(ngModel)]="showTiers">Show Tiers</mat-slide-toggle>
                <mat-slide-toggle aria-label="that" (change)="calculateTeamDRS()" [(ngModel)]="useMultiplier">Use Tier Multiplier</mat-slide-toggle>
                <button [style] (click)="randomizeTeams()" mat-button>
                    <mat-icon aria-hidden="false" aria-label="newbiw" fontIcon="shuffleuild"></mat-icon>
                    Randomize Teams
                </button>
            </div>
        </section>
        <main>
            <article>
                <table mat-table class="main-table" [dataSource]="members">

                    <tr mat-header-row *matHeaderRowDef="membersColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: membersColumns"></tr>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="main-column"> Name </th>
                        <td mat-cell *matCellDef="let row" class="main-column">
                            <span *ngIf="row.groupLeader else default" matBadge="C" matBadgeOverlap="false" matBadgeColor="accent">
                                {{ row.name }}
                            </span>
                            <ng-template #default>
                                {{ row.name }}
                            </ng-template>
                            <mat-icon *ngIf="row.newbie" class="newbie" aria-hidden="false" aria-label="newbiw" fontIcon="hiking"></mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="mm">
                        <th mat-header-cell *matHeaderCellDef class="score-column"> MM </th>
                        <td mat-cell *matCellDef="let row" class="score-column">
                            <img [src]="row.mm.uri" alt="mm uri level badge">
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="faceit">
                        <th mat-header-cell *matHeaderCellDef class="score-column"> Faceit </th>
                        <td mat-cell *matCellDef="let row" class="score-column">
                            <img height="32" [src]="row.faceit.uri" alt="faceit uri level badge">
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="score">
                        <th mat-header-cell *matHeaderCellDef class="score-column"> DRS </th>
                        <td mat-cell *matCellDef="let row" class="score-column">
                            <b>{{ row.score }}</b>
                        </td>
                    </ng-container>

                </table>
            </article>
            <article>

                <div class="teams">
                    <mat-card *ngFor="let team of teams">
                        <mat-card-header>
                            <div class="avatar" mat-card-avatar [style.background-image]="'url(https://material.angular.io/assets/img/examples/shiba1.jpg)'"></div>
                            <mat-card-title>{{ team.name }}</mat-card-title>
                            <mat-card-subtitle> Team DRS: <b>{{ team.score }}</b> </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <ol class="team-members">
                                <li>
                                    <span matBadge="C" matBadgeOverlap="false" matBadgeColor="accent">{{ getMember(team.leaderId).name }}</span>
                                </li>
                                <li *ngFor="let member of team.members">
                                    <mat-icon *ngIf="member.newbie" class="newbie" aria-hidden="false" aria-label="newbiw" fontIcon="hiking"></mat-icon>
                                    <span [class]="name === member.name ? 'thats-me' : ''">{{ member.name }}</span> <sup *ngIf="showTiers">{{ member.score > 14 ? 'T1' : 'T2' }}</sup>
                                </li>
                            </ol>
                        </mat-card-content>
                    </mat-card>
                </div>

            </article>
        </main>
    </mat-tab>

    <mat-tab label="Matches">
        <h3>to be defined.</h3>
    </mat-tab>
</mat-tab-group>